<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<context:property-placeholder location="classpath:db.properties" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${uname}" />
		<!-- username会和计算机的用户名冲突 -->
		<property name="password" value="${upassword}" />
	</bean>



	<context:component-scan base-package="com.yc"></context:component-scan>
	<!-- spring 注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!--设置静态访问资源 -->
	<mvc:default-servlet-handler />



	<!-- 事务注解驱动 -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- 事务管理器bean -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Mybatis会话工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="plugins">
			<array>
				<!-- 加入分页插件 需要添加方言这一属性 单独使用mybatis是默认了mysql的方言或自动检测 ssm中需要指定mysql这一属性 -->
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties" value="helperDialect=mysql"></property>
				</bean>
			</array>
		</property>
		<property name="configuration" >
		<!-- 驼峰命名   不需要重新bean中到数据库字段的映射-->
				<bean class="org.apache.ibatis.session.Configuration">
					<property name="mapUnderscoreToCamelCase"  value="true"></property>
				</bean>
		</property>
	</bean>
	<!-- mybatis 映射接口扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.yc"></property>
	</bean>

	<!--SpringMVC 提供的内部资源视图解析器 -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- 视图前缀 -->
		<property name="prefix" value="/WEB-INF/jsp1/" />
		<!-- 视图后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- apache 文件上传解析器bean 用于设置上传配置 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大字节数 -->
		<property name="maxUploadSize" value="100000" />

	</bean>
	<!-- 处理国际化的bean -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- 资源路径 -->
		<property name="basename" value="message/base" />
	</bean>
	<!-- 
	<mvc:interceptors> 拦截器 
		<mvc:interceptor>
			/a/b /c/d /** 多级目录
			<mvc:mapping path="/**" />
			排除的地址
			<mvc:exclude-mapping path="/toreg" />
			<mvc:exclude-mapping path="/*login" />
			<bean class="com.yc.mvc.action.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>